DEBUG=False
SECRET_KEY=secret key with 50 characteres
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost/testdb
# Cloudinary for static and media files
CLOUDINARY_CLOUD_NAME=cloudinary cloud name
CLOUDINARY_API_KEY=cloudinary api key
CLOUDINARY_API_SECRET=cloudinary api secret